.topicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos_titulo{
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

